.container-region {
  background: $primary;
  padding: 50px 0;
  margin: 30px 0 0 0;
  @media only screen and (min-width: 600px){
    margin: 80px 0 0 0;
  }
}
//Slide
.container-slide{
  color: $white;
  position: relative;

  .info{
    position: absolute;
    z-index: 2;
    width: 50%;
    padding: 10% 2rem 2rem 2rem;
    @media only screen and (max-width: 600px){
      width: 65%;
    }
    h1{
      @media only screen and (max-width: 600px){
        font-size: 1.6rem;
      }
    }
  }
  .slide{
    position: relative;
    margin-bottom: 20px;
  }
  .button{
    a{
      color: $white;
    }
  }
}
.slide3g{
  .owl-item{
    @media only screen and (max-width: 600px){
      width: 650px !important;
    }
  }
}
//Bloque About Home
#main{
  position: relative;
}
#block-views-block-about-3g-block-1{
  margin-top: 70px;
  @media only screen and (max-width: 600px){
    margin-top: 30px;
  }
  a{
    color: $white;
  }
}

//Taxonomias
a.feed-icon {
  display: none;
}
//Noticias
#main{
  margin-bottom: 30px;
  @media only screen and (min-width: 600px){
    margin-bottom: 80px;
  }
  .noticia{
    margin-bottom: 20px;
    .views-field-field-image{
      margin-bottom: 18px;
    }
    h3{
      margin-bottom: 12px;
      a{
        color: $black;
        &:hover{
          color: $primary-color;
        }
      }
    }
    .views-field-created{
      span{
        color: $dark-gray;
        font-size: 0.8em;
        margin-bottom: 8px;
      }
    }
  }
}
.posted {
  display: none;
}
//Basica
.block-consulting-content{
.field-name-field-image{
  img{
    margin-bottom: 20px;
  }
}
}